* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.main__inner .main__input input, .main__inner .main__input .main__result {
  width: 100vw;
  height: 300px;
  border: none;
  text-align: center;
  font-size: 4rem;
}

@media screen and (max-width: 480px) {
  .main__inner .main__input input, .main__inner .main__input .main__result {
    font-size: 2.5rem;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.main__inner .main__input input, .main__inner .main__input .main__result {
  width: 100vw;
  height: 300px;
  border: none;
  text-align: center;
  font-size: 4rem;
}

@media screen and (max-width: 480px) {
  .main__inner .main__input input, .main__inner .main__input .main__result {
    font-size: 2.5rem;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.main__inner {
  height: 90vh;
  overflow: hidden;
}

.main__inner .main__input {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__inner .main__input input {
  font-family: "Ubuntu", sans-serif;
}

.main__inner .main__input input:focus {
  outline: none;
}

.main__inner .main__input input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main__inner .main__input .main__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__inner .main__buttons {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  .main__inner .main__buttons {
    display: none;
  }
}

.main__inner .main__buttons button {
  width: 10%;
  height: 30%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border: 3px solid #000;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__inner .main__buttons button:hover {
  background-color: #000;
  color: #fff;
}

.header {
  height: 7vh;
  margin: 10px 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo img {
  width: auto;
  height: 2rem;
}
/*# sourceMappingURL=style.css.map */