.header{
    height: 7vh;
    margin: 10px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    .header__logo{
        img{
            width: auto;
            height: 2rem;
        }
    }
}
