@import '../variables/variables.scss';

.main{
    &__inner{
        height: 90vh;
        overflow: hidden;
        //СЕЙЧАС БУДЕТ ИНПУТ
        .main__input{
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            input{
                @extend %main__output;
                font-family: $text-family;
                &:focus{
                    outline: none;
                    &::-webkit-input-placeholder{
                        color: transparent;
                    }
                }
            }
            //ОТОБРАЖЕНИЕ РЕЗУЛЬТАТА
            .main__result{
                @extend %main__output;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        //СЕЙЧАС БУДУТ КНОПКИ: +, - И Т.Д.
        .main__buttons{
            height: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media screen and (max-width: 550px) {
                display: none;
            }
            button{
                width: 10%;
                height: 30%;
                background-color: #fff;
                color: #000;
                border-radius: 10px;
                border: 3px solid #000;
                font-weight: 700;
                font-size: 1.5rem;
                transition: all 0.5s;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}
